In [2]:
li = [] 
st = list()
print(type(li))
print(type(st))

<class 'list'>
<class 'list'>

In [3]:
location = ['서울', '대전', '광주', '구미']
print(location)
print(type(location))

['서울', '대전', '광주', '구미']
<class 'list'>

In [4]:
location[0]

'서울'

In [5]:
tuple_ex = (1,2)
print(type(tuple_ex))

<class 'tuple'>

In [6]:
is_tuple = 1,2
print(is_tuple)
print(type(is_tuple))

(1, 2)
<class 'tuple'>

In [7]:
x,y = 1,2
print(x)
print(y)

1
2

In [8]:
x,y = y,x
print(x)
print(y)

2
1

In [9]:
type(range(1))

range

In [10]:

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:

list(range(4,9))

[4, 5, 6, 7, 8]

In [12]:

list(range(0, -10, -1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [13]:
s = 'string'
print('a' in s)
li = [1,2,3,5,1]
print(3 in li)

False
True

In [14]:
print('안녕,'+'하세요')
print([1,2]+[5,6])

안녕,하세요
[1, 2, 5, 6]

In [15]:
[0]*5

[0, 0, 0, 0, 0]

In [16]:
location = ['서울', '대전', '구미', '광주']
location[0]

'서울'

In [41]:
location[0], location[1] ,location[2] ,location[3]

('서울', '대전', '구미', '광주')

In [18]:
location[1:3]

['대전', '구미']

In [42]:
location[1:2]

['대전']

In [44]:
location[0:4]

['서울', '대전', '구미', '광주']

In [45]:

r = list(range(30))

In [46]:
len(r)

30

In [47]:
print(min(r))

0

In [48]:
print(max(r))

29

In [49]:
set_a = {1,2,3}
set_b = {3,6,9}
print(set_a - set_b)
print(set_a | set_b)
print(set_a & set_b)

{1, 2}
{1, 2, 3, 6, 9}
{3}

In [50]:
set_c = {1,1,1}
print(set_c)

{1}

In [51]:
list

list

In [52]:
list_a = [1,2,3,1,1,2]
set_a = set(list_a)
print(set_a)

{1, 2, 3}

In [53]:
list(set(list_a))

[1, 2, 3]

In [54]:
dict_a = {}
print(type(dict_a))
dict_b = dict()
print(type(dict_b))

<class 'dict'>
<class 'dict'>

In [55]:
phone_book = {'서울' :'02', '경기' :'031'}
phone_book['서울']

'02'

In [56]:

dict_a = {1:1, 2:2, 3:3, 1:4}
print(dict_a)

{1: 4, 2: 2, 3: 3}

In [57]:

phone_book.keys()

dict_keys(['서울', '경기'])

In [58]:

phone_book.values()

dict_values(['02', '031'])

In [68]:
import random

In [72]:
lotto = random.sample(range(1,46),6)

In [75]:
sorted(lotto)

[5, 12, 25, 31, 40, 42]